@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

body {
  font-family: Montserrat;
}

.container {
  max-width: 1113px;
  margin: 0 auto;
}

button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(73, 133, 255);
  color: rgb(255, 255, 255);
}

.header {
  padding: 40px 0;
  position: absolute;
  border-bottom: 1px solid rgb(161, 161, 161);
  min-width: 100%;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.nav-list-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.hero {
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 219px;
  padding-bottom: 335px;
}
.hero-wrap .hero-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: #FFFFFF;
}
.hero-wrap .hero-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64.36px;
  text-align: center;
  margin-top: 20px;
  color: #FFFFFF;
}
.hero-wrap .hero-button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.mobileapps {
  padding-top: 110px;
  padding-bottom: 105px;
}
.mobileapps-button {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
}
.mobileapps-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: rgb(50, 50, 50);
  max-width: 739px;
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}
.mobileapps-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 730px;
  display: block;
  margin: 0 auto;
  margin-bottom: 70px;
}
.mobileapps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}
.mobileapps-list-wrap {
  margin-left: 17px;
}
.mobileapps-list-firstcircle {
  width: 110px;
  height: 110px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}
.mobileapps-list-secondcircle {
  width: 90px;
  height: 90px;
  border: 1px solid rgb(73, 133, 255);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobileapps-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 353px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobileapps-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  max-width: 226px;
  max-height: 23px;
  color: rgb(0, 0, 0);
  margin-top: 46px;
  margin-bottom: 12px;
}

.mobileapps-list-description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  max-width: 222px;
  color: rgb(153, 153, 153);
}

.section-development {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: rgb(246, 246, 248);
}
.section-development-line {
  margin-top: 90px;
  margin-bottom: 70px;
  width: 1110px;
  height: 1px;
  border: 1px solid rgb(224, 224, 224);
}
.section-development-wrap {
  max-width: 489px;
  max-height: 295px;
}
.section-development-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-development-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
  margin-bottom: 60px;
}
.section-development-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  color: rgb(153, 153, 153);
  margin-bottom: 42px;
}
.section-development-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  text-decoration: underline;
  color: rgb(73, 133, 255);
}
.section-development-img {
  width: 500px;
  height: 400px;
  border-radius: 30px 0px 0px 0px;
  opacity: 0px;
  margin-left: 121px;
}
.section-development-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-development-list-item {
  max-width: 104px;
  max-height: 67px;
}

.development-list-span {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 52.66px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 17px;
}

.development-list-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  color: rgb(153, 153, 153);
}

.section-services {
  padding: 100px 0 85px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(80, 77, 194)), to(rgb(95, 18, 208)));
  background-image: linear-gradient(rgb(80, 77, 194), rgb(95, 18, 208));
  background-repeat: no-repeat;
  background-size: 1920px 480px;
}
.section-services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-services-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
  max-width: 540px;
}
.section-services-line {
  margin: 85px 0;
  width: 1110px;
  height: 1px;
  border: 1px solid rgb(224, 224, 224);
}
.section-services-list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services-list-img {
  width: 350px;
  height: 300px;
  border-radius: 10px 0px 0px 0px;
}

.services-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  margin: 30px 0;
}

.services-list-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  color: rgb(153, 153, 153);
  margin-bottom: 47px;
}

.services-list-link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: rgb(73, 133, 255);
  text-decoration: underline;
}

.section-projects {
  padding: 100px 0 130px 0;
}
.section-projects-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-projects-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
}
.section-projects-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
  max-width: 730px;
  margin: 28px 0 92px 0;
}
.section-projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.section-projects-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.projects-list-img {
  width: 255px;
  height: 255px;
  border-radius: 10px 0px 0px 0px;
}

.section-work {
  padding: 70px 0 85px 0;
  background-image: url(/img/bg.png);
  background-size: 1920px 570px;
  background-repeat: no-repeat;
  opacity: 90%;
}
.section-work-line {
  margin-top: 90px;
  margin-bottom: 70px;
  width: 1110px;
  height: 1px;
  border: 1px solid rgb(224, 224, 224);
}
.section-work-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.section-work-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section-work-backgound-video {
  width: 970px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 10px;
  margin: 0 auto;
  background-image: url(../../img/video-bg.png);
  background-size: 970px, 430px;
  margin-top: 70px;
}
.section-work-form-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: center;
}
.section-work-form-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: rgb(153, 153, 153);
  margin: 20px 0 30px 0;
}

.section-work-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 200px;
  border: 1px solid rgb(255, 255, 255);
}

.work-play-description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.36px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 21px;
}

.work-play-svg {
  fill: rgb(255, 255, 255);
  background-color: rgb(73, 133, 255);
  border-radius: 50%;
}

.section-work-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-work-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
.section-work-form-button {
  border-radius: 0px 30px 30px 0;
}
.section-work-form-input {
  border-radius: 30px 0px 0px 30px;
  border: none;
  width: 299px;
}
.section-work-form-input::-webkit-input-placeholder {
  padding: 15px 149px 13px 33px;
}
.section-work-form-input::-moz-placeholder {
  padding: 15px 149px 13px 33px;
}
.section-work-form-input:-ms-input-placeholder {
  padding: 15px 149px 13px 33px;
}
.section-work-form-input::-ms-input-placeholder {
  padding: 15px 149px 13px 33px;
}
.section-work-form-input::placeholder {
  padding: 15px 149px 13px 33px;
}
.section-work-form-input:active {
  border: none;
}

.section-work-last-description {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  text-align: center;
  color: rgb(153, 153, 153);
  margin-top: 35px;
}

.footer {
  padding: 70px 0 30px 0;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-line {
  margin-top: 70px;
  margin-bottom: 30px;
  width: 1110px;
  height: 1px;
  border: 1px solid rgb(224, 224, 224);
}
.footer-description {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.6px;
  text-align: center;
  color: rgb(153, 153, 153);
}
.footer-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 35px;
}

.contacts-addess-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-socialmedia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addess-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: rgb(153, 153, 153);
}

.first-addess-list-link::before {
  content: url(../../img/mail.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
}

.footer-nav-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: rgb(153, 153, 153);
}
.footer-nav-list-link::before {
  content: url(../../img/pointer.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}

.projects-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: rgb(153, 153, 153);
}
.projects-list-link::before {
  content: url(../../img/pointer.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}

.socialmedia-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: rgb(153, 153, 153);
}
.socialmedia-list-link::before {
  content: url(../../img/pointer.png);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}

.second-addess-list-link::before {
  content: url(../../img/phone.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
}

.third-addess-list-link::before {
  content: url(../../img/mark.png);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */