.section-development {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: rgba(246, 246, 248, 1);
    &-wrap {
        max-width: 489px;
        max-height: 295px;
        margin-top: 52px;
    }

    &-flex-wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 90px;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
    }

    &-title {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 52.66px;
        text-align: left;
        margin-bottom: 60px
    }

    &-description {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.36px;
        text-align: left;
        color: rgba(153, 153, 153, 1);
        margin-bottom: 42px;
    }

    &-link {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
        text-decoration: underline;
        color: rgba(73, 133, 255, 1);
    }

    &-img {
        border-radius: 30px 0px 0px 0px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        margin-top: 70px;
        &-item {
            max-width:104px;
            max-height: 67px;
        }
    }
}

.development-list-span {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 52.66px;
    text-align: left;
    margin-left: 20px;
}

.development-list-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.36px;
    text-align: left;
    color: rgba(153, 153, 153, 1);
}
.development-list-svg{
    fill: rgba(73, 133, 255, 1);
}